
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>404 - NOT FOUND</title>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
        <img src="/assets/img/errors/404.png" alt="404 NOT FOUND">
    </div>

  </body>
</html>