<!DOCTYPE html>

<html>
    <head>
        <title>TODO List Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/css/site/site.css" rel="stylesheet" media="screen">
    </head>

    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/todo">TODO List Manager</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
              <p class="navbar-text pull-right">
                 <a href="/logoff" class="navbar-link">Log Off</a>
              </p>
            </div>
          </div>
        </div>

        <div class="container">
            <div id="list">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>List</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% todolist.forEach(function(todo, index) { %>
                        <tr>
                          <td><%= todo %></td>
                          <td><a href="/todo/delete/<%= index %>"><i class="icon-trash"></i></a></td>
                        </tr>
                   <% }); %>
                  </tbody>
                </table>
            </div>
            <div id="addForm">
            <form action="/todo/add/" method="post">
                <p>
                    <label for="newtodo">What do I have to do?</label>
                    <input type="text" name="newtodo" id="newtodo" autofocus />
                    <input id="add_btn" class="btn btn-primary" type="submit" value="Add" />
                </p>
            </form>
            </div>
        </div>
        <script src="/assets/js/jquery-2.0.2.min.js"></script>
        <script src="/assets/js/jquery.sticky.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function(){
            $("#addForm").sticky({topSpacing:50});
          });
        </script>
    </body>
</html>